<div id="card" class="card">
    <div class="card-wrapper">
      <div class="image-wrapper">
        <div
        class="product-image"
        [defaultUrl]="'./assets/images/no-image-available.png'"
      >
        <img class="img-resolution" src={{product.imgUrl}} >
        </div>
      </div>
      
      <div class="product-desc">        
        <div class="description">
          <h6>{{product.title}}</h6>
          <app-star-rating></app-star-rating>          
          <div *ngIf="product.price" class="price-desc">
            <p *ngIf="product.subTitle">{{product.subTitle}}: &nbsp;</p><h4 style="color:'rgb(182,73,74)';"> &#x20b9; {{product.price}}</h4>
          </div>
          
        </div> 
      </div>
    </div>
  </div>