<div id="card" class="card">
    <div class="card-wrapper">
      <div class="image-wrapper">
        <div
        class="product-image"
        [defaultUrl]="'./assets/images/no-image-available.png'"
      >
        <img class="img-resolution" src={{product.imgUrl}} >
        </div>
      </div>
      
      <div class="product-desc">        
        <div class="description">
          <div class="sub-title">
            <p>{{product.title}}</p>
          </div>
          <div class="sub-title">
            <p>{{product.subTitle}}</p>
          </div>
        </div> 
      </div>
      <div>
        <button>Select</button>
      </div>
    </div>
  </div>