<div>
    <h1>Create your design</h1>
</div>

<div class="custom-wrapper">
        <div class="dispay-icon-images">
            <div class="img-div">
                <img class="img-resolution" src="assets/images/1.jpg" >
            </div>
            <div class="img-div">
                <img class="img-resolution" src="assets/images/2.jpg" >
            </div>
            <div class="img-div">
                <img class="img-resolution" src="assets/images/3.jpg" >
            </div>
        </div>
        <div class="custom-image-div">
            <div>
                
            </div>
            <div class="img-div">
                <img class="img-resolution" src="assets/images/1.jpg" >
            </div>
        </div>
</div>

