a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color:white;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.box-color{
  /*background-image:linear-gradient(rgb(2, 42, 48), rgb(107, 212, 228));   blue background*/
  /* background-image:linear-gradient(rgb(55,117,123), rgb(97, 207, 218)); */
  /* background-image:linear-gradient(rgb(137,78,182), rgb(54,105,198)); */
  
}

/* nav .navbar-nav li a {
  color: white !important;
} */

.nav-link{
  color: black !important;
}

@media (min-width: 576px){
  .navbar-expand-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    justify-content: space-between;    
}
}

.content-container{
  width: 1200px;
}

.container{
  padding-top: 10px;
  max-width: 100%;
}

.routeContainer{
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between !important; 
}

.head-container{
  background-color:#41a811f1;
}

.search-textbox{
  width: 500px;
  border-style: none;
}

.search{
  display: flex;
  border-right-style: groove;
    border-top-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;  
    border-color: rgb(220,217,198);
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
    border-radius: 4px 4px 4px 4px;
    padding: 2px 10px 2px 20px;
}

.search-icon{
  padding-top: 8px;
}

.search-icon-mat{
  color: black;
}

.img-resolution{
  width: 200px;
  height: 100px;
}

.nav-header{
  display: flex;
  flex-flow: column;
}