  
  <div class="filter">      
    <form [formGroup]="form" (ngSubmit)="submit()"  class="itemsdisplay">
        <div class="lblHeader">
            <label>{{filterData.category}}</label>
            <button> </button>
        </div>
        <label
          formArrayName="items"
          *ngFor="let item of form.controls.items.controls; let i = index"
        >
        <div>
            <input type="checkbox" [formControlName]="i" />
            {{filterData.items[i].name}}
        </div>
        </label>      
      </form>
  </div>
  
  