/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

.wrapper-create-btn {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
  }
  
  .response-table {
    box-shadow: 5px 10px 10px 2px lightgrey;
  }
  
  .popup-wrapper {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: fadeIn 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
    /*transition: all 0.2s ease-in-out;
    transform: scale(0.8);*/
  }
  
  .child-component {
    background: #fff;
    padding: 16px;
    width: 400px;
    box-shadow: 2px 2px 10px -2px;
    border-radius: 4px;
  }
  
  .form-ChildComponent {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
    .field select, .field label, .field input {
      flex: 1 1 5%;
    }
  
  .field-button {
    display: block;
    justify-content: space-between;
  }
  
  .field-cross-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  
  .label {
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #ccc !important;
    cursor: pointer;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  