<div class="free-space"></div>
<div class="overall-summary">
    <div class="order-summary-wrapper">
        <div class="order-summary">
            <div class="title-box">
                <span class="title-text-color">ORDER SUMMARY</span>
            </div>
            <div class="multiple-item-box">
                <div class="single-item-box"> 
                    <div class="flex-row-display">
                        <div class="custom-image-div">
                            <img class="img-resolution" src="assets/images/1.jpg" >
                            <div class="qty-view">
                                <button class="roundbtn">-</button>
                                <div>
                                    <input type="text" value="1" class="qty-value">
                                </div>
                                <button class="roundbtn">+</button>
                             </div>
                        </div>
                        <div class="description-box">
                            <h6>Regalia Men's Regular Fit T-Shirt</h6>
                            <label class="subtitles">customized, full sleeves</label>                    
                            <div>
                                <label class="subtitles">Seller: RetailNet</label>
                            </div>
                            <app-star-rating></app-star-rating>
                            <h6 style="color:'rgb(182,73,74)';">&#x20b9; 499.00</h6>
                        </div>
                        <div class="delivery-box">
                            <div>
                                <label>Delivery by Friday May 22 | &nbsp;</label>
                                <label style="color: #388e3c;">Free &nbsp; </label>
                                <label style="text-decoration: line-through;"> &#x20b9;40</label>
                            </div>
                            <div>
                                <label class="subtitles">Customized tshirts are not replaced, if only a damaged product</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            
            <div class="order-button-box">
                <div class="btn-cart-wrapper">
                    <div class="btn-cart" >
                        <a class="btn-text">Buy Now</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="details-box">
        <div class="address-summary">
            <div>
                <span class="title">Delivery Details</span>
            </div>
            <div class="sub-details">
                <label>Sai pavan kumar</label>
                <div>
                    <label class="subtitles">House No. 5-175/1B, Chandranagar Colony, Chintal</label>
                </div>
                <div>
                    <label class="subtitles">Hyderabad, Telangana</label>
                </div>
                <div>
                    <label class="subtitles">PinCode: 500054</label>
                </div>
            </div>
        </div>
        <div class="price-summary">
            <div>
                <span class="title">Price Details</span>
            </div>
            <div class="price-details">
                <div class="price-sub-details">
                    <label style="font-size: 16px;">Price (1 item)</label>
                    <label style="font-size: 16px;">&#x20b9; 1,499</label>
                </div>
                <div class="price-sub-details">
                    <label style="font-size: 16px;">Delivery Free</label>
                    <label style="color: #388e3c;">Free</label>
                </div>
                <div class="price-sub-details price-total-details">
                    <label style="font-size: 20px;">Total Amount</label>
                    <label style="font-size: 20px;">&#x20b9; 1,499</label>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

