<div class="mini-cart-wrapper">
    <div class="qty-display free-space-bottom">
        <h6> Quantity: &nbsp; </h6> 
        <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>1</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>1</button>
                  <button ngbDropdownItem>2</button>
                  <button ngbDropdownItem>3</button>
                  <button ngbDropdownItem>4</button>
                </div>
              </div>
            </div>
        </div>
    </div>    
    <div class="btn-cart-wrapper">
        <div class="icon-cart">
            <mat-icon>add_shopping_cart</mat-icon>
        </div>        
        <div class="btn-cart">Add to Cart</div>
    </div>
    <div class="free-space-between"></div>
    <div class="btn-cart-wrapper">
        <div class="icon-cart">
            <mat-icon>shop</mat-icon>
        </div>        
        <div class="btn-cart">Buy Now</div>
    </div>
</div>
