.s-results-products {
  z-index: -1;
  padding: 8px 2px;
  
}

.s-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.categories-card {
  width: 300px !important;
  height: 400px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;

}
